ul{
	padding:0;
}
.item{
	background: rgba(12,35,68,.2);
	border: 1px solid;
	text-align: left;
	list-style-type: none;
	padding:10px 10px 0 10px;
	min-height:60px;
	margin-bottom:3px;
	cursor: pointer;
}
dd.item{
	background: rgba(12,35,68,.1);
	width:50%;
	display:inline-block;
	float:left;
}
.glyphicon-new-window {
	color:#97d4e9;
}
.item p{
	background:#0055b7;
	color:#fff;
	margin:0;
}
.selected {
	border:1px solid red;
}
.event .btn-plus{
	display:none;
}
.controls {
	background:#4084e5;
	padding:5px;
}

#map1{
	display:none;
}
.hiden{
	height: 0;
	visibility: 0;
}
.active {
	height:60px;
	background:#40B4E5;
	visibility: 1;
}
dt.item {
	margin-bottom:0;
	clear:both;
}
.events dd{
	width:100%;
}
dd.active{
	background:#40B4E5;
}
