ul{
	padding:0;
}
.filtered-out{
	display:none !important;
}
.bottom-spacing {
	margin-bottom:12px;
}
.item{
	background: rgba(12,35,68,.2);
	border: 1px solid;
	text-align: left;
	list-style-type: none;
	padding:10px 50px 0 10px;
	min-height:60px;
	margin-bottom:3px;
	cursor: pointer;
	position: relative;
}
.cancel:after {
	content: '';
	width:2px;
	height:20px;
	position: absolute;
	top:-4px;
	right: 5px;
	transform: rotate(45deg);
	background:red;
}
.glyphicon-new-window {
	color:#97d4e9;
}
.item p{
	background:#0055b7;
	color:#fff;
	margin:0;
}
.selected {
	border:1px solid red;
}
.primary {
	border:2px solid green;
}
.secondary {
	border:2px solid #0055b7;
}
.event .btn-plus{
	display:none;
}
.controls {
	background:#4084e5;
	padding:5px;
}
.item-controls {
	display:inline-block;
	position: absolute;
	right: 9px;
	top: 9px;
}
.info-container .nav-tabs>li>a {
	border-color: #fff;
	color:#fff;
}
.info-container .nav-tabs>li>a:hover {
	background:#97d4e9;
	color:black;
}
.tab-content {
	background: #97d4e9;
	min-height: 76px;
	padding:10px;
	box-sizing: border-box;
}
#map1{
	display:none;
}
.content .active {
	height:60px;
	background:#40B4E5;
	visibility: 1;
}
.vex-dialog-input label{
	display: block;
}
.vex-dialog-input div{
	width:100%;
	word-break: break-all;
	word-break: word-break;
	word-break: -ms-word-break;
}
